<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Spring Boot Security Tutorial</title>
</head>
<body>
<div class="container">
    <h1>Spring Boot Security Tutorial</h1>
    <p>Welcome to the open section of the tutorial. Explore and learn about Spring Boot Security.</p>
    <a th:href="@{/login}">Login</a>
</div>
</body>
</html>